MONGODB_URL = "mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority&appName=YourApp"
DOMAIN = https://localhost:3000
MailTrapUser = "dummyUser"
MailTrapPass = "dummyPass"
JWT_SECRET = "dummySecret"